/Delaunary/bin/Debug/Delaunary.dll
/Delaunary/bin/Debug/Delaunary.pdb
/DelaunaryTest/DelaunaryTest/bin/Antlr3.Runtime.dll
/DelaunaryTest/DelaunaryTest/bin/Antlr3.Runtime.pdb
/DelaunaryTest/DelaunaryTest/bin/Delaunary.dll
/DelaunaryTest/DelaunaryTest/bin/Delaunary.pdb
/DelaunaryTest/DelaunaryTest/bin/DelaunaryTest.dll
/DelaunaryTest/DelaunaryTest/bin/DelaunaryTest.dll.config
/DelaunaryTest/DelaunaryTest/bin/DelaunaryTest.pdb
/DelaunaryTest/DelaunaryTest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/DelaunaryTest/DelaunaryTest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/DelaunaryTest/DelaunaryTest/bin/Microsoft.Web.Infrastructure.dll
/DelaunaryTest/DelaunaryTest/bin/Newtonsoft.Json.dll
/DelaunaryTest/DelaunaryTest/bin/Newtonsoft.Json.xml
/DelaunaryTest/DelaunaryTest/bin/roslyn/csc.exe
/DelaunaryTest/DelaunaryTest/bin/roslyn/csc.exe.config
/DelaunaryTest/DelaunaryTest/bin/roslyn/csc.rsp
/DelaunaryTest/DelaunaryTest/bin/roslyn/csi.exe
/DelaunaryTest/DelaunaryTest/bin/roslyn/csi.exe.config
/DelaunaryTest/DelaunaryTest/bin/roslyn/csi.rsp
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CodeAnalysis.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.CSharp.Core.targets
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.VisualBasic.Core.targets
/DelaunaryTest/DelaunaryTest/bin/roslyn/Microsoft.Win32.Primitives.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.AppContext.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Collections.Immutable.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Console.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Diagnostics.Process.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Diagnostics.StackTrace.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.IO.Compression.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.IO.FileSystem.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.IO.FileSystem.Primitives.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.IO.Pipes.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Reflection.Metadata.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.AccessControl.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Claims.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Cryptography.Encoding.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Cryptography.Primitives.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Security.Principal.Windows.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Text.Encoding.CodePages.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Threading.Thread.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.ValueTuple.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Xml.ReaderWriter.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Xml.XmlDocument.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Xml.XPath.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/System.Xml.XPath.XDocument.dll
/DelaunaryTest/DelaunaryTest/bin/roslyn/vbc.exe
/DelaunaryTest/DelaunaryTest/bin/roslyn/vbc.exe.config
/DelaunaryTest/DelaunaryTest/bin/roslyn/vbc.rsp
/DelaunaryTest/DelaunaryTest/bin/roslyn/VBCSCompiler.exe
/DelaunaryTest/DelaunaryTest/bin/roslyn/VBCSCompiler.exe.config
/DelaunaryTest/DelaunaryTest/bin/System.Web.Helpers.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.Helpers.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.Mvc.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.Mvc.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.Optimization.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.Optimization.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.Razor.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.Razor.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.Deployment.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.Deployment.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.Razor.dll
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.Razor.xml
/DelaunaryTest/DelaunaryTest/bin/System.Web.WebPages.xml
/DelaunaryTest/DelaunaryTest/bin/WebGrease.dll
/Delaunary/obj/Debug/Delaunary.csproj.CoreCompileInputs.cache
/Delaunary/obj/Debug/Delaunary.csproj.FileListAbsolute.txt
/Delaunary/obj/Debug/Delaunary.csprojResolveAssemblyReference.cache
/Delaunary/obj/Debug/Delaunary.dll
/Delaunary/obj/Debug/Delaunary.pdb
/Delaunary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Delaunary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Delaunary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Delaunary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.csproj.CopyComplete
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.csproj.CoreCompileInputs.cache
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.csproj.FileListAbsolute.txt
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.csprojResolveAssemblyReference.cache
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.dll
/DelaunaryTest/DelaunaryTest/obj/Debug/DelaunaryTest.pdb
/DelaunaryTest/DelaunaryTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DelaunaryTest/DelaunaryTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DelaunaryTest/DelaunaryTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DelaunaryTest/DelaunaryTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DelaunaryTest/.vs/DelaunaryTest/v15/Server/sqlite3/db.lock
